.footer {
	height: 50px;
}

.footer div {
	height: 30px;
}

.todo-list li .addTag:hover {
	color: #af5b5e;
}

.todo-list li .addTag:after {
	content: '+';
}

.todo-list li:hover .addTag {
	display: block;
}